@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.bg-gradient {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #7b2ff7 0%, #1e90ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-container {
    background-color: darkslategrey;
    padding: 1rem;
    border: 8px;
    color: white; /* para contraste */
}


a {
    font-weight: 500;
    color: #646cff;
    text-decoration: none;
}

a:hover {
    color: #535bf2;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    }
}